<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/forecast+partly+cloudy+weather+icon-1320196484400215944.png">
  <link rel="stylesheet" href="/css/styles.css">
  <title>About</title>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/anime-art-ilia-kuvshinov-devushka-chashka-fon.jpg" alt="image anime">
  </div>
  
  {{>footer}}
</body>
</html>